{% extends 'base.html' %}
{% block title %}Create Events{% endblock %}
{% block header %}
  <h1>Create Events</h1>
{% endblock %}

{% block page %}
<form method="post">
	<div class="input-group mb-4" style="width: 68%;">
		<div class="input-group-prepend">
			<span class="input-group-text" id='addon-name'>Events Name</span>
		</div>
		<input type="text" name="event_name" class="form-control" aria-label='Event Name' aria-describedby='addon-name'>
	</div>
	<div class="input-group mb-4" style="width: 68%;">
		<div class="input-group-prepend">
			<span class="input-group-text">Description</span>
		</div>
		<textarea class="form-control" name="description" aria-label='Description'></textarea>
	</div>
	<div class="container">
		<div class="row">
			<div class="input-group mb-4" style="width: 30%;">
				<div class="input-group-prepend">
					<span class="input-group-text" id="addon-start">Start Time</span>
				</div>
				<input type="text" name="start" class="form-control" id="start" aria-label='Start Time' aria-describedby='addon-start'>
			</div>
			<span class='col-md-1'></span>
			<div class="input-group mb-4" style="width: 30%;">
				<div class="input-group-prepend">
					<span class="input-group-text" id="addon-end">End Time</span>
				</div>
				<input type="text" name="end" class="form-control" id="end" aria-label='End Time' aria-describedby='addon-end'>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="input-group mb-4" style="width: 30%;">
				<div class="input-group-prepend">
					<span class="input-group-text" id="addon-mp">Max Participants</span>
				</div>
				<input type="text" name="max_participants" class="form-control" aria-label='Max Participants' aria-describedby='addon-mp'>
			</div>
			<span class='col-md-1'></span>
			<div class="input-group mb-4" style="width: 30%;">
				<div class="input-group-prepend">
					<span class="input-group-text" id="addon-cost">Cost</span>
				</div>
				<input type="text" name="cost" class="form-control" aria-label='Cost' aria-describedby='addon-cost'>
				<div class="input-group-append">
					<span class="input-group-text">$</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="input-group mb-4" style="width: 30%;">
				<div class="input-group-prepend">
					<label class="input-group-text" for="PMO-select">Paid Member Only?</label>
				</div>
				<select class="custom-select" id='PMO-select' name='PMO_Options'>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
			<span class='col-md-1'></span>
			<div class="input-group mb-4" style="width: 30%;">
				<div>
					<label class="input-group-text" for="opener">Opener</label>
				</div>
				<select class="custom-select" name="opener" id="opener">
					<option value="None">Select an Opener</option>
					{% for entry in entries %}
					<option value="{{ entry['userid'] }}">{{ entry.student_name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="input-group mb-4" style="width: 68%;">
		<div class="input-group-prepend">
			<label class="input-group-text" for="order-select">Tournament Result Ordering(yes for acsending)</label>
		</div>
		<select class="custom-select" id='order-select' name='TRO'>
			<option value="1">Yes</option>
			<option value="0">No</option>
			<option value="None" selected>Not a tournament</option>
		</select>
	</div>
	<div class="input-group mb-4" style="width: 68%;">
		<div class="input-group-prepend">
			<span class="input-group-text" id="addon-unit">Tournament Result Unit</span>
		</div>
		<input type="text" name="TRU" class="form-control" aria-label='Max Participants' aria-describedby='addon-unit'>
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
</form>
<script type="text/javascript">
	$(function(){
		$('#start').datetimepicker({
			format: 'YYYY-MM-DD HH:mm:ss'
		});
		});
</script>
<script type="text/javascript">
	$(function(){
		$('#end').datetimepicker({
			format: 'YYYY-MM-DD HH:mm:ss'
		});
		});
</script>

{% endblock %}