{% extends 'headerhero.html' %}
{% block title %}Event Information - {{entries[0].name}}{% endblock %}
{% block header %}
{{entries[0].name}}
{% endblock %}
{% block headerphoto %}/static/banner3.jpg{% endblock %}
{% block headertitle %}Event Information{% endblock %}
{% block headersubtitle %}{% endblock %}

{% block content %}
{% for entry in entries %}
<div class="card">
  <div class="card-header">Description</div>
  <div class="card-body">
    {{ entry.description }}
  </div>
  <div class="card-header">Start Time</div>
  <div class="card-body">
    {{ entry.start }}
  </div>
  <div class="card-header">End Time</div>
  <div class="card-body">
    {{ entry.end }}
  </div>
  <div class="card-header">Max Participants</div>
  <div class="card-body">
    {{ entry.max_participants }}
  </div>
  <div class="card-header">Cost</div>
  <div class="card-body">
    {{ entry.cost }}
  </div>
  <div class="card-header">Paid Members Only?</div>
  <div class="card-body">
    {{ entry.paid_members_only }}
  </div>
  <div class="card-header">Opener</div>
  <div class="card-body">
  	{% for opener in openers %}
  	{{ opener.student_name }}
  	{% endfor %}
  </div>
  {% if entry.result is not none %}
  <div class="card-header">Tournament Result</div>
  <div class="card-body">
    <table class="table table-borderless table-hover" style="width: 50%">
      <tr>
          <th>Name</th>
          <th>Result</th>
      </tr>
      {% for result in entry.result%}
      <tr>
        <td>{{ result.name }}</td>
        <td>{{ result.score }}{{ entry.tournament_result_unit }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </div>
</div>
{% endfor %}
{% endblock %}