{% extends 'base.html' %}
{% block title %}Event Infomation{% endblock %}
{% block header %}
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <h1>Edit Event</h1>
{% endblock %}

{% block page %}
<script type="text/javascript">
$(function () {
	$('#datetimepicker1').datetimepicker({

        format: 'YYYY-MM-DD hh:mm:ss',

        locale: moment.locale('en')

    });
    $('#datetimepicker2').datetimepicker({

        format: 'YYYY-MM-DD hh:mm:ss',

        locale: moment.locale('en')

    });
});
</script>
<form method="post">
	{% for entry in entries %}
	<div class="form-group">
		<label for='event_name'>Events Name</label>
		<input type="text" name="event_name" id="event_name" class="form-control" value={{entry.name}}>
	</div>
	<div class="form-group">
		<label for='description'>Description</label>
		<input type="text" name="description" id="description" class="form-control" value={{entry.description}}></input>
	</div>
	<div class="form-group">
		<label for="start">Start Time</label>
		<div class="input-group date" id="datetimepicker1">
			<input type="text" name="start" id="start" class="form-control" value={{entry.start}}>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="end">End Time</label>
		<div class="input-group date" id="datetimepicker2">
			<input type="text" name="end" id="end" class="form-control" value="{{entry.end}}">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="max_participants">Max Participants</label>
		<input type="text" name="max_participants" id="max_participants" class="form-control" value="{{entry.max_participants}}">
	</div>
	<div class="form-group">
		<label for="cost">Cost</label>
		<input type="text" name="cost" id="cost" class="form-control" value="{{entry.cost}}">
	</div>
	<label for="PMO">Paid Member Only?</label>
	{% if entry.paid_members_only == 1 %}
	<div class="radio">
		<label for="PMO_Yes">
				<input type="radio" name="PMO_Options" id="yes" value=1 checked>Yes
		</label>
	</div>
	<div class="radio">
		<label for="PMO_NO">
				<input type="radio" name="PMO_Options" id="no" value=0>No
		</label>
	</div>
	{% else %}
	<div class="radio">
		<label for="PMO_Yes">
				<input type="radio" name="PMO_Options" id="yes" value=1>Yes
		</label>
	</div>
	<div class="radio">
		<label for="PMO_NO">
				<input type="radio" name="PMO_Options" id="no" value=0 checked>No
		</label>
	</div>
	{% endif %}
	<div class="form-group">
		<label for"opener">Opener</label>
		<select class="form-control" name="opener">
			<option value="None">Select an Opener</option>
			{% for opener in openers %}
			<option value="{{ opener.userid }}">{{ opener.student_name }}</option>
			{% endfor %}
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
	{% endfor %}
</form>

{% endblock %}