{% extends 'base.html' %}
{% block title %}Event Infomation{% endblock %}
{% block header %}
  <h1>Edit Event</h1>
{% endblock %}

{% block page %}
<form method="post">
	{% for entry in entries %}
	<div class="form-group">
		<label for='event_name'>Events Name</label>
		<input type="text" name="event_name" id="event_name" class="form-control" value="{{entry.name}}">
	</div>
	<div class="form-group">
		<label for='description'>Description</label>
		<input type="text" name="description" id="description" class="form-control" value="{{entry.description}}"></input>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<label for="start">Start Time</label>
			<input type="text" name="start" class="form-control" id="start" value="{{entry.start}}">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<label for="end">End Time</label>
			<input type="text" name="end" class="form-control" id="end" value="{{entry.end}}">
		</div>
	</div>
	<div class="form-group">
		<label for="max_participants">Max Participants</label>
		<input type="text" name="max_participants" id="max_participants" class="form-control" value="{{entry.max_participants}}">
	</div>
	<div class="form-group">
		<label for="cost">Cost</label>
		<input type="text" name="cost" id="cost" class="form-control" value="{{entry.cost}}">
	</div>
	<label for="PMO">Paid Member Only?</label>
	{% if entry.paid_members_only == 1 %}
	<div class="radio">
		<label for="PMO_Yes">
				<input type="radio" name="PMO_Options" id="yes" value=1 checked>Yes
		</label>
	</div>
	<div class="radio">
		<label for="PMO_NO">
				<input type="radio" name="PMO_Options" id="no" value=0>No
		</label>
	</div>
	{% else %}
	<div class="radio">
		<label for="PMO_Yes">
				<input type="radio" name="PMO_Options" id="yes" value=1>Yes
		</label>
	</div>
	<div class="radio">
		<label for="PMO_NO">
				<input type="radio" name="PMO_Options" id="no" value=0 checked>No
		</label>
	</div>
	{% endif %}
	<div class="form-group">
		<label for="opener">Opener</label>
		<select class="form-control" name="opener">
			<option value="None">Select an Opener</option>
			{% for opener in openers %}
			{% if opener.userid == entry.opener %}
			<option value="{{ opener.userid }}" selected="selected">{{ opener.student_name }}</option>
			{% else %}
			<option value="{{ opener.userid }}">{{ opener.student_name }}</option>
			{% endif %}
			{% endfor %}
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
	{% endfor %}
</form>
<script type="text/javascript">
	$(function(){
		$('#start').datetimepicker({
			format: 'YYYY-MM-DD HH:mm:ss'
		});
		});
</script>
<script type="text/javascript">
	$(function(){
		$('#end').datetimepicker({
			format: 'YYYY-MM-DD HH:mm:ss'
		});
		});
</script>

{% endblock %}