{% extends 'base.html' %}
{% block title %}Events Menu{% endblock %}
{% block header %}
  <h1>Events Menu</h1>
{% endblock %}

{% block page %}
<table class="table">
	<tr>
		<th>Name</th>
		<th>Start Time</th>
		<th>End Time</th>
	</tr>
	{% for entry in entries %}
	<tr>
		<td>{{ entry.name }}</td>
		<td>{{ entry.start }}</td>
		<td>{{ entry.end }}</td>
		<td><a class="btn btn-info" href="{{ url_for('events.show_info', id=entry.eventid) }}">Info</a></td>
		<td><a class="btn btn-info" href="#">Edit</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}