{% extends 'headerhero.html' %}
{% block title %}Events Menu{% endblock %}
{% block header %}
{% endblock %}
{% block headerphoto %}/static/banner.jpg{% endblock %}
{% block headertitle %}My Events{% endblock %}
{% block headersubtitle %}Events you have participated in{% endblock %}


{% block content %}
<table class="table table-borderless table-hover" style="text-align: center;">
	<tr>
		<th>Name</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Total Time(Hours)</th>
	</tr>
	{% for entry in entries %}
	<tr>
		<td>{{ entry.name }}</td>
		<td>{{ entry.start }}</td>
		<td>{{ entry.end }}</td>
		<td>{{ entry.total_time }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}