{% extends 'base.html' %}
{% block title %}[Admin] User Management{% endblock %}
{% block header %}
  <h1>User Management</h1>
{% endblock %}

{% block page %}
<br /><br />
<div class="form-group">
  <div class="row">
    <div class="input-group col col-md-6">
      {% if 'admin' in current_user_roles() %}
      <a href="{{ url_for('accounts.resetWaiver') }}" class="btn btn-warning mr-1 mb-1">{{ octicon("alert") }} Reset all waivers</a> <a href=" {{ url_for('accounts.resetPayment') }}" class="btn btn-warning mb-1">{{ octicon("alert") }} Reset all membership dues</a>
      {% endif %}
    </div>
    <div class=" col col-md-4">
      <form method="get">
        <div class="input-group">
          {% for arg, val in request.args.items() %}
          {% if (arg != "name") %}
          <input style="display:none" type="hidden" name="{{arg}}" value="{{val}}" />
          {% endif %}
          {% endfor %}
          <input type="text" class="form-control" placeholder="Student Name" aria-label="Student's name" aria-describedby="basic-addon2" name="name" value="{{ search_name }}">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">{{ octicon("search", style="fill:white") }} Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="dropdown col-md-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right">
        {{ octicon("zap", style="fill:white") }} Filter
      </button>
      <div class="dropdown-menu">
        <table class="table">
          {% for filt in ["paid", "waiver", "cpr", "PE", "setter", "opener", "admin"] %}
          <tr>
            <td style="border:none">{{ filt.capitalize() }}</td>
            <td style="border:none">
              <div class="btn-group" role="group" aria-label="Basic example">
                <form method="GET">
                  <input style="display:none" type="hidden" name="{{filt}}" value="1" />
                  {% for arg, val in request.args.items() %}
                  {% if (arg != filt and arg != "page") %}
                  <input style="display:none" type="hidden" name="{{arg}}" value="{{val}}" />
                  {% endif %}
                  {% endfor %}
                  <button type="submit" class="btn btn-success">{{ octicon("check", style="fill:white") }}</button>
                </form>
                <form method="GET">
                  <input style="display:none" type="hidden" name="{{filt}}" value="0" />
                  {% for arg, val in request.args.items() %}
                  {% if (arg != filt and arg != "page") %}
                  <input style="display:none" type="hidden" name="{{arg}}" value="{{val}}" />
                  {% endif %}
                  {% endfor %}
                  <button type="submit" class="btn btn-danger">{{ octicon("x", style="fill:white") }}</button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% if (request.args.keys()|reject("==", "page")|list)|length > 0 %}
<p><strong>Active Filters</strong> <span class="text-muted"><small>Click on a filter to clear it</small></span></p>
{% for filt, filtval in request.args.items() %}
  {% if filtval != "" and filt != "page" %}
  <form method="GET" style="display: inline-block;">
    {% for arg, val in request.args.items() %}
      {% if (arg != filt and arg != "page") %}
      <input style="display:none" type="hidden" name="{{arg}}" value="{{val}}" />
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-info" style="display: inline-block;">{{ octicon("tag", style="fill:white") }} {{filt.capitalize()}}: {{ "Yes" if filtval=="1" else ( filtval if filtval !="0" else "No") }}</button>
  </form>
  {% endif %}
{% endfor %}
<form method="GET" style="display: inline-block;">
  <button type="submit" class="btn btn-danger" style="display: inline-block;">{{ octicon("x", style="fill:white") }} Clear all filters</button>
</form>
<br /><br />
{% endif %}

<table class="table">
  <tr>
    <th>Student Name</th>
    <th>Join Date</th>
    <th width="120">Membership Paid</th>
    <th width="125">Waiver signed</th>
    <th width="125">CPR Certified</th>
    <th width="120">PE Credit?</th>
    <th width="30">Setter?</th>
    <th width="30">Opener?</th>
    <th width="30">Admin?</th>
    <th>Actions</th>
  </tr>
  {% for user in userlist %}
  <tr id="user-{{ user['userid'] }}">
    <td>{{ user["student_name"] }}</td>
    <td>{{ user["join_date"] }}</td>
    <td style="border-left: 1px solid #DFDFDF;">
      <form method="post">
        <input type="hidden" name="userid" value="{{ user['userid'] }}"/>
        {% if user["paid"] == 0 %}
          {% if 'admin' in current_user_roles() or 'opener' in current_user_roles() %}
            <input type="hidden" name="paid" value="1"/>
            <button type="submit" class="btn btn-danger btn-sm mr-0 btn-block" style="margin-right:10px" href="#">{{ octicon("credit-card", style="fill:white") }} Not Paid</button>
          {% else %}
            <span class="text-danger">Not Paid</span>
          {% endif %}
        {% else %}        
          {% if 'admin' in current_user_roles() %}
            <input type="hidden" name="paid" value="0"/>
            <button type="submit" class="btn btn-success btn-sm mr-0 btn-block" style="margin-right:10px" href="#">{{ octicon("credit-card", style="fill:white") }} Paid</button>
          {% else %}
            <span class="text-success">Paid</span>
          {% endif %}
        {% endif %}
      </form>
    </td>
    <td>
      <form method="post">
        <input type="hidden" name="userid" value="{{ user['userid'] }}"/>
        {% if user["waiver"] == 0 %}
          {% if 'admin' in current_user_roles() or 'opener' in current_user_roles() %}
            <input type="hidden" name="waiver" value="1"/>
            <button type="submit" class="btn btn-danger btn-sm mr-0" style="margin-right:10px" href="#">{{ octicon("pencil", style="fill:white") }} Unsigned</button>
          {% else %}
            <span class="text-danger">Not Signed</span>
          {% endif %}
        {% else %}        
          {% if 'admin' in current_user_roles() %}
            <input type="hidden" name="waiver" value="0"/>
            <button type="submit" class="btn btn-success btn-sm mr-0 btn-block" style="margin-right:10px" href="#">{{ octicon("pencil", style="fill:white") }} Signed</button>
          {% else %}
            <span class="text-success">Signed</span>
          {% endif %}
        {% endif %}
      </form>
    </td>
    <td>
      <form method="post">
        <input type="hidden" name="userid" value="{{ user['userid'] }}"/>
        {% if user["cpr_certified"] == 0 %}
          {% if 'admin' in current_user_roles() %}
            <input type="hidden" name="cpr_certified" value="1"/>
            <button type="submit" class="btn btn-secondary btn-sm mr-0 btn-block" style="margin-right:10px" href="#">{{ octicon("heart", style="fill:white") }} No Cert</button>
          {% else %}
            <span class="text-secondary">Not Certified</span>
          {% endif %}
        {% else %}        
          {% if 'admin' in current_user_roles() %}
            <input type="hidden" name="cpr_certified" value="0"/>
            <button type="submit" class="btn btn-success btn-sm mr-0 btn-block" style="margin-right:10px" href="#">{{ octicon("heart", style="fill:white") }} Certified</button>
          {% else %}
            <span class="text-success">Certified</span>
          {% endif %}
        {% endif %}
      </form>
    </td>
    <td style="border-right: 1px solid #DFDFDF;">
      <form method="post">
        <input type="hidden" name="userid" value="{{ user['userid'] }}"/>
        {% if user["pe_credit"] == 0 %}
          {% if 'admin' in current_user_roles() %}
            <input type="hidden" name="pe_credit" value="1"/>
            <button type="submit" class="btn btn-secondary btn-sm mr-0 btn-block" style="margin-right:10px" href="#">{{ octicon("jersey", style="fill:white") }} No PE</button>
          {% else %}
            <span class="text-secondary">No PE Credit</span>
          {% endif %}
        {% else %}        
          {% if 'admin' in current_user_roles() %}
            <input type="hidden" name="pe_credit" value="0"/>
            <button type="submit" class="btn btn-success btn-sm mr-0 btn-block" style="margin-right:10px" href="#">{{ octicon("jersey", style="fill:white") }} PE</button>
          {% else %}
            <span class="text-success">PE Credit</span>
          {% endif %}
        {% endif %}
      </form>
    </td>
    {% for role in ["setter", "opener", "admin"] %}
    <td>
      {% if 'admin' in current_user_roles() %}
        <form method="post" style="text-align: center;">
          <input type="hidden" name="userid" value="{{ user['userid'] }}"/>
          {% if role in user["roles"] %}
            <input type="hidden" name="{{ role }}" value="0"/>
            <button type="submit" class="btn btn-success mr-0" href="#">{{ octicon("check", style="fill:white") }}</button>
          {% else %}
            <input type="hidden" name="{{ role }}" value="1"/>
            <button type="submit" class="btn btn-secondary mr-0" href="#">{{ octicon("x", style="fill:white") }}</button>
          {% endif %}
        </form>
      {% else %}
        {% if role in user["roles"] %}
          {{ octicon("check") }}
        {% else %}
          {{ octicon("x") }}
        {% endif %}
      {% endif %}
    </td>
    {% endfor %}
      <td style="width:100px; border-left: 1px solid #DFDFDF;">
          {% if 'admin' in current_user_roles() %}
            <button id="deleteUser" class="btn btn-danger btn-sm" style="display:inline-block" data-toggle="modal" data-target="#deleteConfirmModal">{{ octicon("trashcan", style="fill:white") }}</button>
          {% endif %}
          <a class="btn btn-secondary btn-sm" style="display:inline-block" href="{{ url_for('accounts.edit', id=user['userid']) }}">{{ octicon("pencil", style="fill:white") }}</a>
      </td>
  </tr>
  {% endfor %}
</table>
<div style="text-align: center; width:100%; display:block">
  <nav style="display: inline-block;">
    <ul class="pagination">
      <form method="GET">
        {% for arg, val in request.args.items() %}
          {% if (arg != "page") %}
          <input style="display:none" type="hidden" name="{{arg}}" value="{{val}}" />
          {% endif %}
        {% endfor %}
        <input style="display:none" type="hidden" name="page" value="{{ page-1 }}" />
        <li class="page-item {{ 'disabled' if page==0 }} "><button type="submit" class="page-link" href="#">&laquo;</button></li>
      </form>
      {% for p in pages %}
        <form method="GET">
          {% for arg, val in request.args.items() %}
            {% if (arg != "page") %}
            <input style="display:none" type="hidden" name="{{arg}}" value="{{val}}" />
            {% endif %}
          {% endfor %}
          <input style="display:none" type="hidden" name="page" value="{{ p }}" />
          <li class="page-item {{ 'active' if page==p }}"><button type="submit" class="page-link" href="#">{{p+1}}</button></li>
        </form>
      {% endfor %}
      <form method="GET">
        {% for arg, val in request.args.items() %}
          {% if (arg != "page") %}
          <input style="display:none" type="hidden" name="{{arg}}" value="{{val}}" />
          {% endif %}
        {% endfor %}
        <input style="display:none" type="hidden" name="page" value="{{ page+1 }}" />
        <li class="page-item {{ 'disabled' if page==maxpage }} "><button type="submit" class="page-link" href="#">&raquo;</button></li>
      </form>
    </ul>
  </nav>
  <br />
  <p>Showing {{page*limit+1 if count > 0 else 0}}-{{(page+1)*limit if (page+1)*limit < count else count}} of {{count}}</p>
</div>
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModal">Confirm User Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <span id="userNameToDelete"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form method="post">
          <input type="hidden" name="delete" value="" id="confirm_user_id1"/>
          <input type="hidden" name="userid" value="" id="confirm_user_id2"/>
          <button type="submit" class="btn btn-danger">Yes, Really Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).on("click", "#deleteUser", function () {
    var id = $(this).parent().closest('tr').attr("id").split("-")[1]
    var name = $(this).parent().closest('tr').children(1).html()
    $("#confirm_user_id1").val(id)
    $("#confirm_user_id2").val(id)
    $("#userNameToDelete").html(name)
 });
</script>
{% endblock %}
