{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block header %}<h1>Welcome, {{current_user().student_name}}</h1>{% endblock %}


{% block page %}
<br />
<div style="display:flex; flex-flow: row wrap; width: 100%; max-height:50vh">
  <div class="col-md-6" style="padding:16px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Membership Status</h5>
        <br />
        <table class="table">
          <tr><th>Website Roles</th><td>
            {% if current_user_roles()|length == 0 %}
              Standard Member
            {% else %}
              {{ current_user_roles()|join(', ')|title }}
            {% endif %}
          </td></tr>
          <tr><th>CPR Certification</th><td>{{ ("<span class='text-success'>Yes</span>" if current_user()["cpr_certified"] else "No")|safe }}</td></tr>
          <tr><th>Enrolled for PE Credit</th><td>{{ "Yes" if current_user()["pe_credit"] else "No"}}</td></tr>
          <tr><th>Waiver Signed</th><td>{{ ("<span class='text-success'>Yes</span>" if current_user()["waiver"] else "<span class='text-danger'>No</span>")|safe }}</td></tr>
          <tr><th>Membership Fee Paid</th><td>{{ ("<span class='text-success'>Yes</span>" if current_user()["paid"] else "<span class='text-danger'>No</span>")|safe }}</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="padding:16px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Participation Overview</h5>
        <h6 class="card-subtitle text-muted mb-2">Since you joined the club on {{current_user()["join_date"].strftime("%B %d, %Y")}}:</h6>
        <p class="card-text"><span style="font-size:1.25rem">{{partitipation["non-tournament"]["hours"] or 0}} Hours</span> <span class="text-muted">of standard event participation</span></p>
        <p class="card-text"><span style="font-size:1.25rem">{{partitipation["non-tournament"]["count"]}} {{ "Standard Event"|safe if partitipation["non-tournament"]["count"]==1 else "Standard Events"|safe}}</span> <span class="text-muted"> attended</span></p>
        <p class="card-text"><span style="font-size:1.25rem">{{partitipation["tournament"]["hours"] or 0}} Hours</span> <span class="text-muted">of tournament participation</span></p>
        <p class="card-text"><span style="font-size:1.25rem">{{partitipation["tournament"]["count"]}} {{ "Tournament"|safe if partitipation["tournament"]["count"]==1 else "Tournaments"|safe}}</span> <span class="text-muted"> attended</span></p>
        <a href="{{ url_for('events.show_my_events') }}" class="card-link">More Info &raquo;</a><a href="{{ url_for('accounts.Scores') }}" class="card-link">See Your Tournament Results &raquo;</a>
      </div>
    </div>
  </div>
  {% if 'admin' in current_user_roles() or 'opener' in current_user_roles() %}
  <div class="col-md-6" style="padding:16px">
    <h5 class="mb-4">Your Upcoming Events</h5>
    {% if opener_events|length == 0 %}
      <p class="text-muted">No events in the next 7 days</p>
    {% endif %}
    {% for event in opener_events %}
      {% include 'eventwidget.html' %}
      <br />
    {% endfor %}
  </div>
  {% endif %}
  {% if 'admin' in current_user_roles() %}
  <div class="col-md-6" style="padding:16px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reports</h5>
        <ul>
          <li><a href="{{url_for('checkin.PE')}}">PE Credit Report</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}