<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - WPI Cave</title>
        {% assets "app_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "app_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <!--Extra Header Tags-->
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">WPI Cave System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}"> {{ octicon("home", style="fill:#CCC") }} Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
                            Events</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('events.show')}}">Schedule</a>
                            <a class="dropdown-item" >My Events</a>
                            {% if 'admin' in current_user_roles() or 'setter' in current_user_roles() %}
                            <a class="dropdown-item" href="{{ url_for('events.create')}}">Create</a>
                            {% endif %}
                        </div>
                    </li>
                    {% if 'admin' in current_user_roles() or 'opener' in current_user_roles() %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('accounts.admin')}}">{{ octicon("person", style="fill:#CCC") }} User Admin</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user() is none %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('accounts.signin') }}">{{ octicon("sign-in", style="fill:#CCC") }} Log In</a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user()['student_name'] }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('accounts.show') }}">{{ octicon("dashboard") }} Dashboard</a>
                            <a class="dropdown-item" href="{{ url_for('accounts.edit', id=current_user()['userid']) }}">{{ octicon("gear") }} Account Settings</a>
                            <a class="dropdown-item" href="{{ url_for('accounts.signout') }}"> {{ octicon("sign-out") }} Logout</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            <main role="main">
                <header>
                    <h1>{% block header %}{% endblock %}</h1>
                </header>
                <section>
                    {% for category, message in get_flashed_messages(with_categories=True) %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </section>
                <section class="content">
                    {% block page %}{% endblock %}
                </section>
            </main>
        </div>
    </body>
</html>