<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">{{ event.name }}
    <div style="float:right">
        {% if not event.paid_members_only and event.cost == 0 %}
        <span class="badge badge-success">Free</span>
        {% endif %} 
        {% if event.tournament_result_unit is not none and event.tournament_result_ordering is not none %}
        <span class="badge badge-warning">{{ octicon("law") }} Tournament</span>
        {% endif %}
    </div>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
    {% if event.actual_start is not none and event.actual_end is none %}
        Event In Progress
    {% elif event.actual_start is not none and event.actual_end is not none %}
        Event Ended Early
    {% elif event.start.date() == event.end.date() %}
        {{ event.start.date().strftime("%a %b %d") }} {{ event.start.time().strftime("%I:%M %p") }} - {{ event.end.time().strftime("%I:%M %p") }} 
    {% else %}
        {{ event.start.date().strftime("%a %b %d") }} {{ event.start.time().strftime("%I:%M %p") }} - {{ event.end.date().strftime("%a %b %d") }} {{ event.end.time().strftime("%I:%M %p") }}
    {% endif %}
    </h6>
    <a href="{{ url_for('events.show_info', id=event.eventid) }}" class="card-link">More Info &raquo;</a>
    {% if event.opener == current_user()["userid"] and not event.actual_end %}
        <form method="post" action="{{ url_for('events.show') }}" class="card-link" style="display: inline-block;">
            <input type="hidden" name="eventid" value="{{ event.eventid }}">
            <button class="btn btn-success">Open Event &raquo;</button>
        </form>
    {% endif %}
</div>
</div>