{% extends 'headerhero.html' %}
{% block title %}Home{% endblock %}
{% block header %}About{% endblock %}
{% block headerphoto %}/static/banner.jpg{% endblock %}
{% block headertitle %}Welcome to the Cave{% endblock %}
{% block headersubtitle %}WPI's own bouldering gym.{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Id faucibus nisl tincidunt eget nullam non nisi est sit. Auctor urna nunc id
      cursus metus aliquam eleifend. Convallis a cras semper auctor. Suspendisse sed nisi lacus sed viverra.
      Porttitor rhoncus dolor purus non enim praesent elementum. Libero volutpat sed cras ornare arcu dui
      vivamus. Enim praesent elementum facilisis leo vel. Posuere morbi leo urna molestie at elementum eu
      facilisis sed. Porttitor leo a diam sollicitudin tempor id. At volutpat diam ut venenatis. Semper quis
      lectus nulla at volutpat diam. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum.
      Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Tellus at urna condimentum mattis
      pellentesque id nibh tortor.</p>
      <p>Viverra nibh cras pulvinar mattis nunc sed. Egestas diam in arcu cursus euismod quis. Sit amet
        risus nullam eget felis eget nunc lobortis mattis. Lectus urna duis convallis convallis tellus.
        Viverra nibh cras pulvinar mattis nunc sed blandit. Tristique senectus et netus et malesuada.
        Consequat ac felis donec et odio pellentesque diam volutpat. Malesuada proin libero nunc consequat
        interdum varius sit amet mattis. Hac habitasse platea dictumst vestibulum rhoncus est. Neque volutpat
        ac tincidunt vitae semper quis lectus nulla at. Ornare arcu odio ut sem nulla pharetra. Diam volutpat
        commodo sed egestas egestas fringilla phasellus faucibus.</p>
        
  </div>
  <div class="col-md-3">
    <h3>Upcoming Events</h3>
    {% if events|length == 0 %}
      <p class="text-muted">No events in the next 7 days</p>
    {% endif %}
    {% for event in events %}
      {% include 'eventwidget.html' %}
      <br />
    {% endfor %}
  </div>
</div>
{% endblock %}