<a class="navbar-brand" href="#">WPI Cave System</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExample07">
<ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}"> {{ octicon("home", style="fill:#CCC") }} Home</a>
    </li>
    {% if 'setter' in current_user_roles() or 'admin' in current_user_roles()%}
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
            {{ octicon("book", style="fill:#CCC") }} Routes</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('routes.Route') }}">{{ octicon("checklist", style="fill:#000") }} AllRoutes</a>
            <a class="dropdown-item" href="{{ url_for('routes.SetRoutes') }}">{{ octicon("pencil", style="fill:#000") }} Set Routes</a>
        </div>
    </li>
    {% else %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('routes.Route') }}">{{ octicon("checklist", style="fill:#CCC") }} AllRoutes</a>
    </li>
    {% endif %}
    {% if current_user() is none %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('events.show')}}">{{ octicon("calendar", style="fill:#CCC") }} Schedule</a>
    </li>
    {% else %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
            {{ octicon("jersey", style="fill:#CCC") }} Events</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('events.show')}}">{{ octicon("calendar", style="fill:#000") }} Schedule</a>
            <a class="dropdown-item" href="{{ url_for('events.show_my_events')}}">{{ octicon("bookmark", style="fill:#000") }} My Events</a>
            {% if 'admin' in current_user_roles() or 'setter' in current_user_roles() %}
            <a class="dropdown-item" href="{{ url_for('events.create')}}">{{ octicon("pencil", style="fill:#000") }} Create</a>
            {% endif %}
        </div>
    </li>
    {% endif %}
    {% if 'admin' in current_user_roles() or 'opener' in current_user_roles() %}
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('accounts.admin')}}">{{ octicon("person", style="fill:#CCC") }} User Admin</a>
        </li>
    {% endif %}
</ul>
<ul class="navbar-nav ml-auto">
    {% if current_user() is none %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('accounts.signin') }}">{{ octicon("sign-in", style="fill:#CCC") }} Log In</a>
    </li>
    {% else %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user()['student_name'] }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('accounts.show') }}">{{ octicon("dashboard") }} Dashboard</a>
            <a class="dropdown-item" href="{{ url_for('accounts.edit', id=current_user()['userid']) }}">{{ octicon("gear") }} Account Settings</a>
            <a class="dropdown-item" href="{{ url_for('accounts.signout') }}"> {{ octicon("sign-out") }} Logout</a>
        </div>
    </li>
    {% endif %}
</ul>
</div>