{%extends 'base.html' %}
{% block title %}PE{% endblock %}


{% block page %}
<form method="post">
    <div class="row">
        <div class="col-sm-12">
            <label for="start">Start Date</label>
            <input type="text" name="Start Date" class="form-control" id="start" placeholder="2019-01-01" dayViewHeaderFormat='MMMM YYYY'>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript">
	$(function(){
		$('#start').datetimepicker({
			format: 'YYYY-MM-DD'
		});
		});
</script>

<br>
<font size="8" face="Verdana" color="black" >PE Students</font>


<hr style= "border:3px solid black" size=1 >
<center>

    <font  size="5">
        <table class="table">
            <tr>
                <th>Student Name</th>
                <th>TimeSpent (hour)</th>
            </tr>
        {% for record in records %}
            <tr>
                <td>{{ record['Name'] }}</td>
                <td>{{ record['TimeSpent'] }}</td>
            </tr>
        {% endfor %}
        </table>
    </font>

</center>


{% endblock %}