{%extends 'base.html' %}

<h1> {% block title %}PE{% endblock %} </h1>

{% block header %}

<div>
    <center>
       <font size="8" face="Verdana" color="black" >PE Students</font>
    </center>
</div>

<hr style= "border:3px solid black" size=1 >
<center>

    <font  size="5">
        <table border="1">
            <tr>
                    <th style="width:200px" align="center">Student Name</th>
                    <th style="width:200px" align="center">TimeSpent (hour)</th>
              </tr>
            {% for record in records %}
              <tr>
                    <td style="width:200px" align="left">{{ record['Name'] }}</td>
                    <td style="width:200px" align="left">{{ record['TimeSpent'] }}</td>
              </tr>
            {% endfor %}
        </table>
    </font>

</center>

{% endblock %}