{%extends 'base.html' %}

<h1> {% block title %}PE{% endblock %} </h1>

{% block header %}

<div>

<form method="post">
    <hr>
        <div class="form-group">
            <label for="Start Date"><b>Start Date</b></label>
            <input type="text" class="form-control" id="StudentID" placeholder="YYYY-MM-DD" name="Start Date" required>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

    {{test}}
<br>
       <font size="8" face="Verdana" color="black" >PE Students</font>

</div>

<hr style= "border:3px solid black" size=1 >
<center>

    <font  size="5">
        <table class="table">
            <tr>
                <th>Student Name</th>
                <th>TimeSpent (hour)</th>
            </tr>
        {% for record in records %}
            <tr>
                <td>{{ record['Name'] }}</td>
                <td>{{ record['TimeSpent'] }}</td>
            </tr>
        {% endfor %}
        </table>
    </font>

</center>

{% endblock %}