{%extends 'base.html' %}

<h1> {% block title %}Routes{% endblock %} </h1>

{% block header %}

<div>
    <center>
       <font size="8" face="Verdana" color="black" >All Routes</font>
    </center>
</div>
<hr style= "border:3px solid black" size=1 >
    {% for route in routes%}
        <p style="line-height:70%">
            <img src="/static/RoutePictures/{{ route['picture'] }}" height="400" width="500">

            <font size="5" color="black" style="word-spacing: 10px" face="serif"> &nbsp;&nbsp;&nbsp;{{ octicon("rocket") }} Difficulty {{ route['difficulty'] }}</font>
            <br>
                <font size="3" color="black" style="word-spacing: 10px">Setter@  {{ route['student_name'] }}</font>
        </p>
<hr width="1120" align="left" style="border: 1px solid black">
    {% endfor %}
{% endblock %}





