{%extends 'base.html' %}
{% block title %}Routes{% endblock %}
{% block header %}
    <h1>Routes Menu</h1>
{% endblock %}

{% block page %}
<div class="container">
    <div class="row">
        {% for route in routes %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="/static/RoutePictures/{{ route['picture'] }}">
                <div class="card-body">
                    <p>{{ octicon("rocket") }} Difficulty {{ route['difficulty'] }}</p>
                    <p>Setter@  {{ route['student_name'] }}</p>
                    <a href="#" class="btn btn-primary">More information</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}





