{%extends 'base.html' %}

<h1> {% block title %}SetRoutes{% endblock %} </h1>

{% block page %}
<h1>Start Setting</h1>
<form method="post" enctype="multipart/form-data">
    <hr>
        <div class="form-group">
            <label for="Difficulty"><b>Difficulty</b></label>
            <input type="text" class="form-control" id="Difficulty" placeholder="1-10" name="Difficulty" required>
        </div>
    <hr>
        <div class="form-group">
            <label for="SetBy"><b>SetBy</b></label>
            <input type="text" class="form-control" id="SetBy" placeholder="Your ID" name="SetBy" required>
        </div>
    <hr>
    <input type="file" name="file">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
